<section class="products_block_wrapper">
  <div class="container">
    <div class="products_section_title">OUR PRODUCTS</div>
    <div class="row_item_wrapper">
      <div class="row">
        <div class="col-6 d-flex flex-row-reverse ">
          <div class="product_img">
            <img src="../../assets/img/products/activation-energy-essence.png" alt="">
          </div>
        </div>
        <div class="col-6">
          <div class="wrap">
            <div class="product_title">
              Activation ENERGY ESSENCE
            </div>
            <div class="product_text">
              It has a smoothing and regenerating effect, tightens the skin and strengthens the contours of the face, has a lifting effect and increases the elasticity of the skin.
            </div>
            <button mat-button class="product_button">
              Read more
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row_item_wrapper">
      <div class="row">
        <div class="col-6 d-flex flex-row-reverse">
          <div class="wrap">
            <div class="product_title">
              Balancing Emulsion
            </div>
            <div class="product_text">
              Due to its light consistency, the emulsion softens the skin well and protects it from moisture loss by "sealing" it inside. As a result, the skin tone increases, and the process of keratinization of cells slows down. Throughout the day, the face looks fresh and well-groomed.            </div>
            <button mat-button class="product_button">
              Read more
            </button>
          </div>

        </div>
        <div class="col-6    ">
          <div class="product_img">
            <img src="../../assets/img/products/balancing-emulsion.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row_item_wrapper">
      <div class="row">
        <div class="col-6 d-flex flex-row-reverse ">
          <div class="product_img">
            <img src="../../assets/img/products/cleansing-foam.png" alt="">
          </div>
        </div>
        <div class="col-6">
          <div class="wrap">
            <div class="product_title">
              Cleansing Foam
            </div>
            <div class="product_text">
              Foam for washing — gently cleanses the skin from dirt, copes well with black dots and greasy threads.            </div>
            <button mat-button class="product_button">
              Read more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
