<header class="p-3 text-bg-dark">
  <div class="container" routerLinkActive="active">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="../../assets/Logo.png" class="bi me-2"  width="80" height="32" role="img" alt="">
      </a>
      <ul class="nav col-10 col-lg-5 me-lg-auto mb-2 justify-content-center mb-md-0" >
        <li><a href="#" class="nav-link px-2 text-secondary" routerLink="home">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary" routerLink="home">About</a></li>
        <li><a href="#" class="nav-link px-2 text-secondary" routerLink="home">Contacts</a></li>
        <li *ngIf="authority === 'user'" class="nav-link px-2 text-white">
          <a class="nav-link px-2 text-white" routerLink="user">User Board</a>
        </li>
        <li *ngIf="authority === 'admin'" >
          <a class="nav-link px-2 text-white" routerLink="admin">Admin Board</a>
        </li>
      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
      </form>
      <div class="text-end" *ngIf="!authority">
        <button  type="button" class="btn btn-outline-light me-2" (click)="openDialog()">Login</button>
        <button type="button" class="btn btn-warning" (click)="openSignupDialog()">Sign-up</button>
      </div>
      <div class=" d-flex justify-content-between align-items-center" *ngIf="authority">
        <div class="info"> {{info.username}}  </div>
        <button  type="button" class="btn btn-warning ml-5" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</header>


<header class="container">
  <div class="header"></div>
</header>

