<section class="about_block_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="about_wrapper">
          <div class="about_title">
            ABOUT US
          </div>
          <div class="about_text">
            AinaLine is not just a facial treatment, it is a whole professionally selected system for self—care. <br>
            We have been working on creating our products for a long time! Each ingredient has been thoroughly tested and meets the highest standards. We also made sure that every girl could afford proper self-care!
          </div>
          <button mat-button class="about_button">
            MORE ABOUT US
          </button>
        </div>
      </div>
      <div class="col-6">
        <div class="about_img">
          <img src="../../assets/img/about_pictures.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
